<h3> New Track</h3>
<a href="/tracks"><button class="btn btn-outline-info"> Back </button></a>
<%@track.errors.full_messages.each do |error|%>
    <div class="alert alert-danger" role="alert">
        <%=error%>
    </div>
<%end%>
<%= form_for @track do |f| %>
Name:         <%= f.text_field :name %>
Album:        <%= f.select :album_id ,options_for_select(@albums.collect{ |a| [a.title, a.id] })%> 
Media type:   <%= f.select :media_type_id ,options_for_select(@mediatypes.collect{ |a| [a.name, a.id] })%>  
Genero:       <%= f.select :genre_id ,options_for_select(@genres.collect{ |a| [a.name, a.id] })%> 
Composer:     <%= f.text_field :composer %>
milliseconds: <%= f.text_field :milliseconds %>
Bytes:        <%= f.text_field :bytes %>
Unit Price:   <%= f.text_field :unit_price %>
              <%= f.submit 'Save', class:"btn btn-outline-info" %>
<% end %>