<html>
<head>
</head>
<body>
<div class="container-fluid">
 
  </div> 
  </div>
<div id="carouselSite" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselSite" data-slide-to="0" class="active"></li>
      <li data-target="#carouselSite" data-slide-to="1"></li>
      <li data-target="#carouselSite" data-slide-to="2"></li>
      <li data-target="#carouselSite" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class="img-fluid d-block">
            <%=image_tag("rock4.jpg")%>
      </div>
      </div>
      <div class="carousel-item ">
        <div class="img-fluid d-block">
            <%=image_tag("imagine.jpg")%>
      </div>
      </div>
      <div class="carousel-item ">
        <div class="img-fluid d-block">
            <%=image_tag("rihanna.jpg")%>
      </div>
      </div>
      <div class="carousel-item ">
        <div class="img-fluid d-block">
            <%=image_tag("alessia.jpg")%>
      </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class=" sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class=" sr-only">Avançar</span>
    </a>
  </div>



  <div class= "container">
  <div class="card-deck mt-4">
  <div class="card" id="card1">
  <%=image_tag("dolla.jpg")%>
    <div class="card-body">
      <h5 class="card-title">Ty Dolla Sign</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" id="card1">
  <%=image_tag("mark3.jpg")%>
    <div class="card-body">
      <h5 class="card-title">Mark Ronson</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" id="card1">
  <%=image_tag("amy.jpg")%>
    <div class="card-body">
      <h5 class="card-title">Amy Whinehouse</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  </div>
</div>
</body>
</html>