<div class="container">

<h3 class="cor-texto text-center display-4 text-white"> <%= @album.title %> </h3>
<h5 class="cor-texto text-center text-white"> BY: <%= @album.artist.name %> </h5>

<div class="row">
  <div class="form-group col-md-6">
    <b class="text-dark"> <%= link_to "Back", "/albums", class:"btn btn-primary col-6" %> </b>
</div>

<div class="form-group col-md-6 d-flex justify-content-end">
    <%= link_to  "Edit", edit_album_path, class:"btn btn-primary col-6"%>
  </div>
</div>
<fieldset class="card text-white bg-secondary list-group-item mb-1">
    <% @tracks.each do |track| %>
      <button class="btn btn-dark col-12" type="button" data-toggle="collapse" data-target="#id<%= track.id %>">
        <%= track.name %>
      </button>
      <div class="collapse" id="id<%= track.id %>">
        <div class="card card-body text-dark">
          MILISSECONDS: <%= track.milliseconds %> <br>
          BYTES: <%= track.bytes %> <br>
          GENRE: <%= track.genre.name %> <br>
          MEDIATYPE: <%= track.media_type.name %> <br>
          COMPOSER: <%= track.composer %> <br>
          UNIT PRICE: <%= track.unit_price %> <br>
        </div>
      </div>
      <p></p>
  <% end %>
</fieldset>